.container {
    position: fixed;
    border-radius: 20px;
    margin: 5px;
    padding: 7px;
    color: white;
    top: 50px;
    max-width: 90vw;
    max-height: 80vh;
    min-height: 700px;
    margin-left: 80px;
    text-align: center;
}
.add-r::before{
position: absolute;
content: '';
width:50% ;
height:60% ;
top: 45%;
left: 0;
background: linear-gradient(45deg, #ff000061, #ffff0061);
border-radius: 0 50% 50% 0/0 100% 100% 0;
transform: scale(1.4);
overflow: hidden;
z-index: -1;
opacity: 0.7;
}
.add-r{
    overflow: auto;
    z-index: 3;
    background: linear-gradient(45deg, #030324f7, #1a0b73eb);
}
.form-el{
    margin-top: 50px;
    margin-left: 1%;
    min-width: 800px;
    overflow: auto;
}
