.bar-icon {
    margin: 20px;
    font-size: 50px;
    margin-left: 290px;
}

.bar-icon:hover {
    transform: rotate(25deg);
}

.side-view {
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
    width: 80vw;
    top: 180px;
}
.floating-button{
   font-size: 30px;

}
.floating-menu{
    position: fixed;
    font-size: 10px;
    bottom:10%;
    right:10%;
}
.floating-menu-items{
    position: relative;
   display: none;
    background-color: #2d3748;
    margin-bottom: 3px;
    padding: 7px;
    font-size: 20px;
    border-radius: 13px;
    font-weight: bolder;
    color: white;
}
.floating-menu:hover .floating-menu-items{
 display: block;
}
.floating-menu-items:hover>li{
    cursor: pointer;
}
.floating-button{
    z-index: 100;
}
.close{
    position: absolute;
    right: 20px;
    top: 23px;
    margin-right: 35px;
    max-width: 100px;
    max-height: 30px;
    font-size: 35px;
    border-radius: 25px;
    z-index: 50;
}
.close:hover{
    cursor: pointer;
    transform: scale(1.5);

}