.main-container::before{
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
background: linear-gradient(45deg,#110990, white);
width: 90%;
height: 80%;
border-radius: 0 0 50% 50%/0 0 100% 100%;
transform: scale(1.3);
z-index: -1;
overflow: hidden;
}
.main-container{
    max-width:1920px;
    position: relative;
    height: 75vh;
    z-index: 10;
   
}
.sub-container {
    margin-top: 60px;
}
