.stream-a{
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.c>h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.total-value{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.table-v{
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 30px;
    overflow: auto;
}
.c::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 60%;
    bottom:50px;
    left: 20%;
    background: linear-gradient(45deg, red, yellow);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    transform: scale(1.4);
   overflow: hidden;
    z-index: -1;
    opacity: 0.4;
}
.c{
    z-index: 3;
}